<div class="form-container">
  <h2>Add User</h2>
  <form [formGroup]="userform">
    <input type="text" formControlName="id" name="id" hidden>
    <div class="form-group">
      <label>Name: </label>
      <input type="text" formControlName="name" name="name">
    </div>

    <div class="form-group">
      <label>Age: </label>
      <input type="number" formControlName="age" name="age">
    </div>

    <div class="form-group">
      <label>Gender: </label>
      <div class="radio-group">
        <label class="radio-label"> Male: <input type="radio" formControlName="gender" value="male" name="gender">
        </label>
        <label class="radio-label"> Female: <input type="radio" formControlName="gender" value="female" name="gender">
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Hobbies: </label>
      <div class="hobbies-group">
        <div formArrayName="hobbies">
          <div *ngFor="let ctrl of hobbiesVal.controls; let i=index" class="hobbi-group">
              <input type="text" [formControlName]="i" name="hobbies">
              <button type="button" (click)="removeField(i)"> - </button>
              <button type="button" (click)="addHobbies()"> + </button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" (click)="submitUser()">Submit</button>
  </form>
</div>


<!-- <div (focusout)="onFocusOut($event)" (blur)="onBlur($event)">
  <input type="text" (blur)="onInputBlur($event)" (focusout)="onInputFocusOut($event)" placeholder="First Name">
  <input type="text" (blur)="onInputBlur($event)" (focusout)="onInputFocusOut($event)" placeholder="Last Name">
</div> -->