<ng-content></ng-content>

<ng-template #addUserTemplate> Add user to show the List!! Still no users are added.. </ng-template>

<section *ngIf="userList.length > 0 ; else addUserTemplate">
    <table border="1">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Hobbies</th>
            <th>Action</th>
        </thead>

        <tbody>
            <tr *ngFor="let user of userList">
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.hobbies}}</td>
                <td>
                    <button (click)="deleteUser(user)" class="pointer">Delete</button> &nbsp;
                    <button (click)="editUser(user)" class="pointer">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>